@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer components {
  .nav-link {
    @apply py-1 lg:py-[1.88rem] px-2 lg:px-4 text-sm lg:text-[1.1875rem] font-bold text-white capitalize leading-5 cursor-pointer;
  }

  .nav-link-mobile {
    @apply py-5 pl-[1.56rem] pr-4 text-base font-bold text-white capitalize leading-[1.6875rem] cursor-pointer;
  }

  .mobile-nav-icons > * {
  @apply flex items-center justify-center border border-[#EFEFEF] rounded-md w-10 h-10;
  }

  .text-head {
    @apply text-bold 
  }
}

.bottom-border {
  border-bottom: 1px solid rgba(255, 251, 251, 0.10);
}

.nav-link-mobile {
  border-bottom: 1px solid rgba(255, 251, 251, 0.10);
}

.hero-image {
  background-image: url("/public/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-gradient {
  gap: 0.5rem;
  padding: 1.7rem 2.5rem;
  background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%) !important;
  border-radius: 3.125rem;
}

.form-btn {
  background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%) !important;
  border-radius: 3.125rem;
}

.text-gradient {
  background: -webkit-linear-gradient(67deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mint-gradient {
  background: linear-gradient(61deg, #2600FC 0%, #FF00EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phase {
  background: -webkit-linear-gradient(66deg, #2600FC 0%, #FF00EA 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-scroll::-webkit-scrollbar {
  width: 2px;
}

.white-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  visibility: hidden;
}

.scroll-container:hover .white-scroll::-webkit-scrollbar-thumb {
  visibility: visible;
}

.card-tag {
  background: linear-gradient(25deg, #2600FC 0%, #FF00EA 100%);
}

.mint {
  background: url("/mint-bg-2.png") no-repeat;
  background-position: center;
}