@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer components {
  .nav-link {
    @apply py-1 lg:py-[1.88rem] px-2 lg:px-4 text-sm lg:text-[1.1875rem] font-bold text-white capitalize leading-5 cursor-pointer;
  }

  .nav-link-mobile {
    @apply py-5 pl-[1.56rem] pr-4 text-base font-bold text-white capitalize leading-[1.6875rem] cursor-pointer;
  }

    .mobile-nav-icons > * {
    @apply flex items-center justify-center border border-[#EFEFEF] rounded-md w-10 h-10;
    }
}

.bottom-border {
  border-bottom: 1px solid rgba(255, 251, 251, 0.10);
}

.nav-link-mobile {
  border-bottom: 1px solid rgba(255, 251, 251, 0.10);
}

.hero-image {
  background-image: url("/public/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-gradient {
  gap: 0.5rem;
  padding: 1.7rem 2.5rem;
  background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%) !important;
  border-radius: 3.125rem;
}